<ion-view view-title="Contact Us">
    <ion-content>
        <h1>Contact Us</h1>
    <div class="card">
        <div class="item item-divider">
            Location Information
        </div>
        <div class="item item-text-wrap">
            <h2>Our Address</h2>
            <p>
                121, Clear Water Bay Road<br>
                Clear Water Bay, Kowloon<br>
                HONG KONG<br>
                <i class="icon ion-android-call"></i> : +852 1234 5678<br>
                <i class="icon ion-printer"></i> : +852 8765 4321<br>
                <i class="icon ion-ios-email"></i> : confusion@food.net
            </p>
            <br>
            <div class="button-bar">
                <a type="button" class="button button-positive" href="tel:+85212345678"><i class="fa fa-phone"></i> Call</a>
                <a type="button" class="button button-calm"><i class="fa fa-skype"></i> Skype</a>
                <a type="button" class="button button-balanced" href="mailto:confusion@food.net"><i class="fa fa-envelope-o"></i> Email</a>
            </div>
        </div>
    </div>
    </ion-content>
</ion-view>